$panel-header-background-color: grey;
$panel-border-color: red;
$panel-header-font-size: 10;
$panel-header-padding: 0px;
$panel-header-line-height: 0px;
$panel-header-min-height: 0px;
$panel-header-title-padding: 0px;
$panel-border-color: red;
